.App {
  text-align: center;
}

html {
  height: 100%
}

.row {
  max-width: 100%;
}

#content {
  margin: 1rem auto;
}

.search-form{
  padding: 1rem;
}

.video-container{
  margin-top: 1rem;
}

video{
  max-width: 100%;
}